<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875543380570-mqs2ic47g757u9qvm52lfvbk5n6a28f9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875543380570-mqs2ic47g757u9qvm52lfvbk5n6a28f9</string>
	<key>API_KEY</key>
	<string>AIzaSyAhyTzs5w2NpardNnZc1Om2Q8A15YKwa7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>875543380570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>final-project-62656</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-62656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875543380570:ios:220c80410598795df98e63</string>
</dict>
</plist>